In [37]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_pickle(f"dataset/3p6-selected.pkl", compression='zip')

In [47]:
df['xyz_id'] = df.groupby(['x', 'y', 'z']).ngroup()

In [48]:
df.head()

,x,y,z,vx,vy,vz,px,py,pz,time,distance,xyz_id
1824696,-117.0,87.0,-33.0,0.48,0.02,0.04,-0.57,-0.11,-2.17,301,150.0,2356
1824697,-113.0,87.0,-33.0,0.48,0.02,0.04,-0.50,-0.40,-2.10,301,146.0,3148
1824698,-109.0,87.0,-33.0,0.48,0.02,0.04,-0.45,-0.58,-2.01,301,143.0,3940
1824699,-105.0,87.0,-33.0,0.48,0.02,0.04,-0.42,-0.67,-1.91,301,140.0,4732
1824700,-101.0,87.0,-33.0,0.48,0.02,0.05,-0.36,-0.69,-1.80,301,137.0,5524

In [46]:
df.shape

(304116, 11)

In [5]:
df.time.unique()

array([301, 305, 300, 302, 303, 304], dtype=int64)

In [49]:
train_df = df[df["time"] != 303]
train_df = train_df.drop(columns=["x","y","z","px","py","pz"], axis=1)

In [50]:
test_df = df[df["time"] == 303]
test_df = test_df.drop(columns=["x","y","z","px","py","pz"], axis=1)

In [51]:
train_df.shape, test_df.shape

((253430, 6), (50686, 6))

In [52]:
df[['x', 'y', 'z']].drop_duplicates().count()[0]

50686

In [38]:
centroid = np.array([0, 0, 0])

# calculate the Euclidean distance between each point and the centroid
df['distance_from_centroid'] = np.sqrt(
    (df['x'] - centroid[0])**2 +
    (df['y'] - centroid[1])**2 +
    (df['z'] - centroid[2])**2
)

In [39]:
df['distance'].nunique(), df['distance_from_centroid'].nunique()

(155, 10387)

In [53]:
train_df.head()

           vx    vy    vz  time  distance  xyz_id
1824696  0.48  0.02  0.04   301     150.0    2356
1824697  0.48  0.02  0.04   301     146.0    3148
1824698  0.48  0.02  0.04   301     143.0    3940
1824699  0.48  0.02  0.04   301     140.0    4732
1824700  0.48  0.02  0.05   301     137.0    5524

In [ ]:
# set constraint for time

In [13]:
import sdv

In [14]:
print(sdv.__version__)

1.0.0

In [30]:
from sdv.metadata import SingleTableMetadata

metadata = SingleTableMetadata()

In [31]:
metadata.detect_from_dataframe(data=train_df)

In [32]:
python_dict = metadata.to_dict()
python_dict

{'columns': {'x': {'sdtype': 'numerical'},
  'y': {'sdtype': 'numerical'},
  'z': {'sdtype': 'numerical'},
  'vx': {'sdtype': 'numerical'},
  'vy': {'sdtype': 'numerical'},
  'vz': {'sdtype': 'numerical'},
  'time': {'sdtype': 'numerical'},
  'distance': {'sdtype': 'numerical'}},
 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [22]:
metadata.validate()