In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("wind_data/Solar-home-2010/2010-2011.csv", low_memory=False)

In [6]:
df.columns

Index(['Customer', 'Generator Capacity', 'Postcode', 'Consumption Category',
       'date', '0:30', '1:00', '1:30', '2:00', '2:30', '3:00', '3:30', '4:00',
       '4:30', '5:00', '5:30', '6:00', '6:30', '7:00', '7:30', '8:00', '8:30',
       '9:00', '9:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30',
       '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30',
       '17:00', '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30',
       '21:00', '21:30', '22:00', '22:30', '23:00', '23:30', '0:00'],
      dtype='object')

In [7]:
df.head()

,Customer,Generator Capacity,Postcode,Consumption Category,date,0:30,1:00,1:30,2:00,2:30,...,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,0:00
0,1,3.78,2076,GC,1-Jul-10,0.303,0.471,0.083,0.121,0.361,...,0.495,0.54,0.406,0.543,0.495,0.216,0.378,0.128,0.078,0.125
1,1,3.78,2076,CL,1-Jul-10,1.250,1.244,1.256,0.744,0.019,...,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.075
2,1,3.78,2076,GG,1-Jul-10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,1,3.78,2076,GC,2-Jul-10,0.116,0.346,0.122,0.079,0.120,...,0.262,1.10,1.012,0.817,0.526,0.335,0.402,0.142,0.120,0.111
4,1,3.78,2076,CL,2-Jul-10,1.238,1.238,1.256,1.250,0.169,...,0.000,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.088

In [12]:
times_columns = df.columns[5:]
times_columns

Index(['0:30', '1:00', '1:30', '2:00', '2:30', '3:00', '3:30', '4:00', '4:30',
       '5:00', '5:30', '6:00', '6:30', '7:00', '7:30', '8:00', '8:30', '9:00',
       '9:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '13:00',
       '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00',
       '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00',
       '21:30', '22:00', '22:30', '23:00', '23:30', '0:00'],
      dtype='object')

In [37]:
melted_df = pd.melt(df, id_vars=['Customer', 'Generator Capacity', 'Postcode','Consumption Category','date'], value_vars=times_columns, var_name='time', value_name='value')
melted_df['datetime'] = pd.to_datetime(melted_df['date'] + ' ' + melted_df['time'])

In [38]:
melted_df['label'] = melted_df.groupby('datetime').ngroup() + 1

In [42]:
melted_df

,Customer,Generator Capacity,Postcode,Consumption Category,date,time,value,datetime,label
0,1,3.78,2076,GC,1-Jul-10,0:30,0.303,2010-07-01 00:30:00,2
1,1,3.78,2076,CL,1-Jul-10,0:30,1.250,2010-07-01 00:30:00,2
2,1,3.78,2076,GG,1-Jul-10,0:30,0.000,2010-07-01 00:30:00,2
3,1,3.78,2076,GC,2-Jul-10,0:30,0.116,2010-07-02 00:30:00,50
4,1,3.78,2076,CL,2-Jul-10,0:30,1.238,2010-07-02 00:30:00,50
...,...,...,...,...,...,...,...,...,...
12947275,300,3.36,2086,CL,29-Jun-11,0:00,2.490,2011-06-29 00:00:00,17425
12947276,300,3.36,2086,GG,29-Jun-11,0:00,0.000,2011-06-29 00:00:00,17425
12947277,300,3.36,2086,GC,30-Jun-11,0:00,0.774,2011-06-30 00:00:00,17473
12947278,300,3.36,2086,CL,30-Jun-11,0:00,2.528,2011-06-30 00:00:00,17473
12947279,300,3.36,2086,GG,30-Jun-11,0:00,0.000,2011-06-30 00:00:00,17473

In [43]:
filtered_df = melted_df[melted_df["Customer"]<=5]

In [44]:
filtered_df.to_csv("dataset/wind.csv", index=False)