In [1]:
import networkx as nx

In [2]:
import datgan

In [3]:
help(datgan)

Help on package datgan:

NAME
    datgan

PACKAGE CONTENTS


FILE
    (built-in)

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../dataset/filtered_wind.csv", index_col=False)

In [6]:
df.head()

   location  time_seq  gen_capacity category  value
0         1         2          3.78       GC  0.303
1         1         2          3.78       CL  1.250
2         1         2          3.78       GG  0.000
3         1        50          3.78       GC  0.116
4         1        50          3.78       CL  1.238

In [7]:
df["location"].unique()

array([1, 2, 3, 4, 5])

In [8]:
df.describe()

            location       time_seq   gen_capacity          value
count  262800.000000  262800.000000  262800.000000  262800.000000
mean        3.000000    8760.500000       1.680000       0.165929
std         1.414216    5057.597972       1.077109       0.321578
min         1.000000       1.000000       1.000000       0.000000
25%         2.000000    4380.750000       1.000000       0.000000
50%         3.000000    8760.500000       1.000000       0.019000
75%         4.000000   13140.250000       1.620000       0.188000
max         5.000000   17520.000000       3.780000       3.358000

In [9]:

data_info = {
    'location': {
        'type': 'continuous',
        'bounds': [1, 5],
        'enforce_bounds': True,
        'discrete': True,
    },
    'time_seq': {
        'type': 'continuous',
        'bounds': [1, 17520],
        'enforce_bounds': True,
        'discrete': True
    },
    'gen_capacity': {
        'type': 'continuous',
        'discrete': False
    },
    'value': {
        'type': 'continuous',
        'discrete': False
    }
}

# For the categorical columns, we can simply add them using a for loop
for c in df.columns:
    if c not in data_info.keys():
        data_info[c] = {'type': 'categorical'}

In [10]:
data_info

{'location': {'type': 'continuous',
  'bounds': [1, 5],
  'enforce_bounds': True,
  'discrete': True},
 'time_seq': {'type': 'continuous',
  'bounds': [1, 17520],
  'enforce_bounds': True,
  'discrete': True},
 'gen_capacity': {'type': 'continuous', 'discrete': False},
 'value': {'type': 'continuous', 'discrete': False},
 'category': {'type': 'categorical'}}

In [11]:
graph = nx.DiGraph()
graph.add_edges_from([
    ("location", "value"),
    ("time_seq", "value")
])

In [1]:
import datgan

In [2]:


import os
import pickle
import numpy as np
import pandas as pd
import networkx as nx

from sklearn.preprocessing import OrdinalEncoder

from datgan import stats_assessment
from datgan import ml_assessment, transform_results

ImportError: cannot import name 'stats_assessment' from 'datgan' (unknown location)