In [1]:
import pandas as pd

In [2]:
df_real = pd.read_csv("../dataset/real_data_3.csv")
df_generated = pd.read_csv("../dataset/generated_data_3.csv")

In [3]:
df_real

      location  time_seq  gen_capacity   CL     GC   GG
0            3         1           1.0  0.0  0.065  0.0
1            3         4           1.0  1.0  0.675  0.0
2            3         7           1.0  0.0  0.705  0.0
3            3        11           1.0  0.0  0.710  0.0
4            3        14           1.0  0.0  0.841  0.0
...        ...       ...           ...  ...    ...  ...
9948         3     17516           1.0  0.0  0.608  0.0
9949         3     17517           1.0  0.0  0.459  0.0
9950         3     17518           1.0  0.0  0.456  0.0
9951         3     17519           1.0  0.0  0.722  0.0
9952         3     17520           1.0  0.0  0.060  0.0

[9953 rows x 6 columns]

In [4]:
df_g

NameError: name 'df_g' is not defined