In [1]:
from sdv.datasets.demo import download_demo

real_data, metadata = download_demo(
    modality='single_table',
    dataset_name='fake_hotel_guests'
)

In [4]:
real_data

,guest_email,has_rewards,room_type,amenities_fee,checkin_date,checkout_date,room_rate,billing_address,credit_card_number
0,michaelsanders@shaw.net,False,BASIC,37.89,27 Dec 2020,29 Dec 2020,131.23,"49380 Rivers Street\nSpencerville, AK 68265",4075084747483975747
1,randy49@brown.biz,False,BASIC,24.37,30 Dec 2020,02 Jan 2021,114.43,"88394 Boyle Meadows\nConleyberg, TN 22063",180072822063468
2,webermelissa@neal.com,True,DELUXE,0.00,17 Sep 2020,18 Sep 2020,368.33,"0323 Lisa Station Apt. 208\nPort Thomas, LA 82585",38983476971380
3,gsims@terry.com,False,BASIC,NaN,28 Dec 2020,31 Dec 2020,115.61,"77 Massachusetts Ave\nCambridge, MA 02139",4969551998845740
4,misty33@smith.biz,False,BASIC,16.45,05 Apr 2020,NaN,122.41,"1234 Corporate Drive\nBoston, MA 02116",3558512986488983
...,...,...,...,...,...,...,...,...,...
495,laurabennett@jones-duncan.net,False,BASIC,8.71,04 Jan 2021,06 Jan 2021,103.25,"5678 Office Road\nSan Francisco, CA 94103",3505516387300030
496,johnny71@cook.info,False,BASIC,16.31,24 Aug 2020,26 Aug 2020,115.81,"953 White Island\nChristopherside, TN 91366",2224524502892552
497,ygarcia@ballard-lopez.net,False,BASIC,30.59,11 Nov 2020,13 Nov 2020,141.61,"5678 Office Road\nSan Francisco, CA 94103",180096250673548
498,thomasdale@hall.com,False,BASIC,1.93,16 Jul 2020,18 Jul 2020,136.92,"5678 Office Road\nSan Francisco, CA 94103",4488223821722
499,danieltaylor@harper.com,False,BASIC,3.84,22 Mar 2020,25 Mar 2020,143.52,"034 Tran Oval\nHowardshire, VT 40933",213165812201188

In [12]:
filtered = real_data.drop(["guest_email", "checkin_date", "checkout_date", "billing_address", "credit_card_number"], axis=1)

In [13]:
filtered

     has_rewards room_type  amenities_fee  room_rate
0          False     BASIC          37.89     131.23
1          False     BASIC          24.37     114.43
2           True    DELUXE           0.00     368.33
3          False     BASIC            NaN     115.61
4          False     BASIC          16.45     122.41
..           ...       ...            ...        ...
495        False     BASIC           8.71     103.25
496        False     BASIC          16.31     115.81
497        False     BASIC          30.59     141.61
498        False     BASIC           1.93     136.92
499        False     BASIC           3.84     143.52

[500 rows x 4 columns]

In [14]:
import sdv
from sdv.single_table import CTGANSynthesizer
from sdv.metadata import SingleTableMetadata

In [15]:
metadata = SingleTableMetadata()

In [16]:
metadata.detect_from_dataframe(data=filtered)

In [17]:
python_dict = metadata.to_dict()

In [18]:
python_dict

{'columns': {'has_rewards': {'sdtype': 'boolean'},
  'room_type': {'sdtype': 'categorical'},
  'amenities_fee': {'sdtype': 'numerical'},
  'room_rate': {'sdtype': 'numerical'}},
 'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1'}

In [19]:
synthesizer = CTGANSynthesizer(
    metadata,
    enforce_rounding=False,
    verbose=True
)

In [20]:
synthesizer.fit(filtered)

Epoch 1, Loss G:  3.6718,Loss D:  0.0034
Epoch 2, Loss G:  3.8899,Loss D:  0.0015
Epoch 3, Loss G:  3.7511,Loss D: -0.0057
Epoch 4, Loss G:  3.8135,Loss D: -0.0092
Epoch 5, Loss G:  3.7917,Loss D: -0.0133
Epoch 6, Loss G:  3.9172,Loss D: -0.0160
Epoch 7, Loss G:  3.6631,Loss D: -0.0034
Epoch 8, Loss G:  3.7780,Loss D: -0.0230
Epoch 9, Loss G:  3.4602,Loss D: -0.0101
Epoch 10, Loss G:  3.8050,Loss D: -0.0149
Epoch 11, Loss G:  3.6216,Loss D: -0.0284
Epoch 12, Loss G:  3.6613,Loss D: -0.0272
Epoch 13, Loss G:  3.6371,Loss D: -0.0199
Epoch 14, Loss G:  3.8309,Loss D: -0.0366
Epoch 15, Loss G:  3.7370,Loss D: -0.0258
Epoch 16, Loss G:  3.5938,Loss D: -0.0370
Epoch 17, Loss G:  3.6087,Loss D: -0.0393
Epoch 18, Loss G:  3.6459,Loss D: -0.0262
Epoch 19, Loss G:  3.7784,Loss D: -0.0179
Epoch 20, Loss G:  3.5719,Loss D: -0.0375
Epoch 21, Loss G:  3.5756,Loss D: -0.0501
Epoch 22, Loss G:  3.6401,Loss D: -0.0399
Epoch 23, Loss G:  3.6393,Loss D: -0.0268
Epoch 24, Loss G:  3.3396,Loss D: -0.0163
Epoch 25, Loss G:  3.7294,Loss D: -0.0027
Epoch 26, Loss G:  3.7735,Loss D: -0.0257
Epoch 27, Loss G:  3.6839,Loss D:  0.0012
Epoch 28, Loss G:  3.6713,Loss D: -0.0057
Epoch 29, Loss G:  3.7043,Loss D: -0.0021
Epoch 30, Loss G:  3.3566,Loss D: -0.0145
Epoch 31, Loss G:  3.5858,Loss D:  0.0006
Epoch 32, Loss G:  3.7678,Loss D: -0.0070
Epoch 33, Loss G:  3.6707,Loss D: -0.0035
Epoch 34, Loss G:  3.7321,Loss D: -0.0307
Epoch 35, Loss G:  3.5991,Loss D: -0.0395
Epoch 36, Loss G:  3.4093,Loss D: -0.0093
Epoch 37, Loss G:  3.5723,Loss D: -0.0460
Epoch 38, Loss G:  3.5499,Loss D: -0.0473
Epoch 39, Loss G:  3.6516,Loss D: -0.0390
Epoch 40, Loss G:  3.4854,Loss D: -0.0460
Epoch 41, Loss G:  3.4818,Loss D: -0.0422
Epoch 42, Loss G:  3.4136,Loss D: -0.0544
Epoch 43, Loss G:  3.4009,Loss D: -0.0276
Epoch 44, Loss G:  3.5819,Loss D: -0.0080
Epoch 45, Loss G:  3.4871,Loss D:  0.0199
Epoch 46, Loss G:  3.3362,Loss D:  0.0149
Epoch 47, Loss G:  3.5775,Loss D: -0.0042
Epoch 48, Loss G:  3.3402,Loss D:  0.0191
Epoch 49, Loss G:  3.6529,Loss D:  0.0150
Epoch 50, Loss G:  3.4932,Loss D:  0.0157
Epoch 51, Loss G:  3.5064,Loss D:  0.0328
Epoch 52, Loss G:  3.4671,Loss D:  0.0133
Epoch 53, Loss G:  3.5616,Loss D:  0.0010
Epoch 54, Loss G:  3.3533,Loss D: -0.0107
Epoch 55, Loss G:  3.5984,Loss D: -0.0114
Epoch 56, Loss G:  3.4962,Loss D: -0.0250
Epoch 57, Loss G:  3.5348,Loss D: -0.0182
Epoch 58, Loss G:  3.4519,Loss D: -0.0205
Epoch 59, Loss G:  3.1970,Loss D: -0.0173
Epoch 60, Loss G:  3.3876,Loss D: -0.0742
Epoch 61, Loss G:  3.3679,Loss D: -0.0313
Epoch 62, Loss G:  3.3935,Loss D: -0.0463
Epoch 63, Loss G:  3.4631,Loss D: -0.0556
Epoch 64, Loss G:  3.3519,Loss D: -0.0416
Epoch 65, Loss G:  3.5795,Loss D: -0.0271
Epoch 66, Loss G:  3.4771,Loss D: -0.0309
Epoch 67, Loss G:  3.4550,Loss D: -0.0422
Epoch 68, Loss G:  3.4365,Loss D:  0.0035
Epoch 69, Loss G:  3.5026,Loss D: -0.0004
Epoch 70, Loss G:  3.2055,Loss D: -0.0141
Epoch 71, Loss G:  3.3955,Loss D:  0.0352
Epoch 72, Loss G:  3.4698,Loss D:  0.0135
Epoch 73, Loss G:  3.3043,Loss D:  0.0445
Epoch 74, Loss G:  3.2779,Loss D:  0.0209
Epoch 75, Loss G:  3.3394,Loss D:  0.0244
Epoch 76, Loss G:  3.5480,Loss D:  0.0192
Epoch 77, Loss G:  3.5217,Loss D:  0.0399
Epoch 78, Loss G:  3.2994,Loss D: -0.0036
Epoch 79, Loss G:  3.3788,Loss D:  0.0107
Epoch 80, Loss G:  3.2105,Loss D: -0.0238
Epoch 81, Loss G:  3.3042,Loss D: -0.0333
Epoch 82, Loss G:  3.4497,Loss D: -0.0546
Epoch 83, Loss G:  3.5578,Loss D: -0.0625
Epoch 84, Loss G:  3.3141,Loss D: -0.0620
Epoch 85, Loss G:  3.4150,Loss D: -0.0826
Epoch 86, Loss G:  3.4292,Loss D: -0.0520
Epoch 87, Loss G:  3.4659,Loss D: -0.0513
Epoch 88, Loss G:  3.4216,Loss D: -0.0458
Epoch 89, Loss G:  3.4559,Loss D: -0.0410
Epoch 90, Loss G:  3.2830,Loss D: -0.0182
Epoch 91, Loss G:  3.3136,Loss D: -0.0305
Epoch 92, Loss G:  3.1970,Loss D: -0.0177
Epoch 93, Loss G:  3.2686,Loss D: -0.0167
Epoch 94, Loss G:  3.3392,Loss D:  0.0098
Epoch 95, Loss G:  3.3381,Loss D:  0.0340
Epoch 96, Loss G:  3.0394,Loss D:  0.0244
Epoch 97, Loss G:  2.9248,Loss D:  0.0267
Epoch 98, Loss G:  2.9663,Loss D:  0.0210
Epoch 99, Loss G:  3.2232,Loss D:  0.0425
Epoch 100, Loss G:  3.0231,Loss D:  0.0252
Epoch 101, Loss G:  3.0986,Loss D:  0.0229
Epoch 102, Loss G:  3.2352,Loss D:  0.0120
Epoch 103, Loss G:  3.2596,Loss D:  0.0384
Epoch 104, Loss G:  3.0940,Loss D: -0.0138
Epoch 105, Loss G:  3.0704,Loss D: -0.0226
Epoch 106, Loss G:  3.0478,Loss D: -0.0098
Epoch 107, Loss G:  3.0704,Loss D: -0.0463
Epoch 108, Loss G:  3.0108,Loss D: -0.0245
Epoch 109, Loss G:  2.9700,Loss D: -0.0372
Epoch 110, Loss G:  2.9520,Loss D: -0.0675
Epoch 111, Loss G:  3.3888,Loss D: -0.0585
Epoch 112, Loss G:  2.9867,Loss D: -0.0481
Epoch 113, Loss G:  3.3221,Loss D: -0.0331
Epoch 114, Loss G:  2.9015,Loss D: -0.0554
Epoch 115, Loss G:  3.2965,Loss D: -0.0482
Epoch 116, Loss G:  3.0795,Loss D: -0.0238
Epoch 117, Loss G:  3.2231,Loss D: -0.0010
Epoch 118, Loss G:  3.0235,Loss D: -0.0063
Epoch 119, Loss G:  3.0189,Loss D:  0.0072
Epoch 120, Loss G:  3.2898,Loss D: -0.0051
Epoch 121, Loss G:  3.2376,Loss D:  0.0414
Epoch 122, Loss G:  3.0856,Loss D:  0.0383
Epoch 123, Loss G:  3.2436,Loss D:  0.0527
Epoch 124, Loss G:  3.1101,Loss D:  0.0584
Epoch 125, Loss G:  3.2379,Loss D:  0.0295
Epoch 126, Loss G:  3.1837,Loss D:  0.0119
Epoch 127, Loss G:  2.8940,Loss D:  0.0425
Epoch 128, Loss G:  2.9015,Loss D:  0.0172
Epoch 129, Loss G:  2.9397,Loss D: -0.0016
Epoch 130, Loss G:  2.9350,Loss D:  0.0275
Epoch 131, Loss G:  2.9614,Loss D: -0.0357
Epoch 132, Loss G:  2.9252,Loss D: -0.0260
Epoch 133, Loss G:  3.0656,Loss D: -0.0407
Epoch 134, Loss G:  3.2217,Loss D: -0.0313
Epoch 135, Loss G:  3.1067,Loss D: -0.0545
Epoch 136, Loss G:  3.0942,Loss D: -0.0652
Epoch 137, Loss G:  3.0958,Loss D: -0.0713
Epoch 138, Loss G:  3.0356,Loss D: -0.0834
Epoch 139, Loss G:  3.2199,Loss D: -0.0680
Epoch 140, Loss G:  3.2574,Loss D: -0.0960
Epoch 141, Loss G:  3.0658,Loss D: -0.0314
Epoch 142, Loss G:  3.1173,Loss D: -0.0336
Epoch 143, Loss G:  2.8738,Loss D: -0.0283
Epoch 144, Loss G:  2.9108,Loss D: -0.0059
Epoch 145, Loss G:  3.0307,Loss D:  0.0214
Epoch 146, Loss G:  2.7817,Loss D:  0.0364
Epoch 147, Loss G:  2.8152,Loss D:  0.0571
Epoch 148, Loss G:  2.8882,Loss D:  0.0664
Epoch 149, Loss G:  2.9794,Loss D:  0.0481
Epoch 150, Loss G:  2.7557,Loss D:  0.0721
Epoch 151, Loss G:  2.9696,Loss D:  0.0494
Epoch 152, Loss G:  2.9194,Loss D:  0.0252
Epoch 153, Loss G:  2.9241,Loss D:  0.0136
Epoch 154, Loss G:  2.9364,Loss D:  0.0308
Epoch 155, Loss G:  3.1549,Loss D:  0.0409
Epoch 156, Loss G:  2.8773,Loss D:  0.0054
Epoch 157, Loss G:  3.1058,Loss D: -0.0164
Epoch 158, Loss G:  3.1092,Loss D: -0.0290
Epoch 159, Loss G:  2.7867,Loss D: -0.0595
Epoch 160, Loss G:  3.1189,Loss D: -0.0628
Epoch 161, Loss G:  3.1874,Loss D: -0.0417
Epoch 162, Loss G:  3.1232,Loss D: -0.0725
Epoch 163, Loss G:  3.1843,Loss D: -0.0358
Epoch 164, Loss G:  2.9829,Loss D: -0.0525
Epoch 165, Loss G:  2.9547,Loss D: -0.0287
Epoch 166, Loss G:  3.0566,Loss D: -0.0422
Epoch 167, Loss G:  3.0110,Loss D: -0.0199
Epoch 168, Loss G:  3.0323,Loss D: -0.0041
Epoch 169, Loss G:  3.0778,Loss D:  0.0068
Epoch 170, Loss G:  2.8884,Loss D:  0.0059
Epoch 171, Loss G:  2.9074,Loss D:  0.0248
Epoch 172, Loss G:  3.0369,Loss D:  0.0169
Epoch 173, Loss G:  2.9542,Loss D:  0.0144
Epoch 174, Loss G:  2.9942,Loss D:  0.0269
Epoch 175, Loss G:  3.2539,Loss D:  0.0341
Epoch 176, Loss G:  3.1578,Loss D:  0.0532
Epoch 177, Loss G:  2.9376,Loss D:  0.0099
Epoch 178, Loss G:  2.9072,Loss D: -0.0254
Epoch 179, Loss G:  2.8867,Loss D: -0.0150
Epoch 180, Loss G:  3.0466,Loss D: -0.0142
Epoch 181, Loss G:  2.9250,Loss D: -0.0109
Epoch 182, Loss G:  3.2427,Loss D: -0.0407
Epoch 183, Loss G:  3.2419,Loss D:  0.0023
Epoch 184, Loss G:  2.8572,Loss D: -0.0459
Epoch 185, Loss G:  3.1945,Loss D:  0.0182
Epoch 186, Loss G:  3.0624,Loss D:  0.0071
Epoch 187, Loss G:  2.7689,Loss D:  0.0026
Epoch 188, Loss G:  2.8521,Loss D: -0.0191
Epoch 189, Loss G:  3.0661,Loss D:  0.0111
Epoch 190, Loss G:  2.8077,Loss D:  0.0094
Epoch 191, Loss G:  2.8900,Loss D:  0.0334
Epoch 192, Loss G:  2.9393,Loss D: -0.0146
Epoch 193, Loss G:  2.7487,Loss D: -0.0065
Epoch 194, Loss G:  3.1244,Loss D:  0.0180
Epoch 195, Loss G:  2.8932,Loss D:  0.0166
Epoch 196, Loss G:  3.0307,Loss D:  0.0071
Epoch 197, Loss G:  2.9403,Loss D: -0.0037
Epoch 198, Loss G:  3.0385,Loss D:  0.0113
Epoch 199, Loss G:  2.9776,Loss D: -0.0032
Epoch 200, Loss G:  2.9306,Loss D:  0.0010
Epoch 201, Loss G:  2.7910,Loss D: -0.0002
Epoch 202, Loss G:  2.9974,Loss D: -0.0428
Epoch 203, Loss G:  2.8340,Loss D: -0.0512
Epoch 204, Loss G:  2.7074,Loss D: -0.0237
Epoch 205, Loss G:  2.6874,Loss D: -0.0336
Epoch 206, Loss G:  3.0884,Loss D: -0.0363
Epoch 207, Loss G:  3.1492,Loss D: -0.0241
Epoch 208, Loss G:  2.9902,Loss D: -0.0315
Epoch 209, Loss G:  2.9504,Loss D: -0.0114
Epoch 210, Loss G:  2.8621,Loss D: -0.0040
Epoch 211, Loss G:  2.6395,Loss D: -0.0056
Epoch 212, Loss G:  2.7416,Loss D:  0.0179
Epoch 213, Loss G:  2.9515,Loss D:  0.0309
Epoch 214, Loss G:  2.9646,Loss D:  0.0195
Epoch 215, Loss G:  2.8941,Loss D: -0.0089
Epoch 216, Loss G:  2.6850,Loss D:  0.0261
Epoch 217, Loss G:  2.9337,Loss D: -0.0150
Epoch 218, Loss G:  2.8764,Loss D: -0.0083
Epoch 219, Loss G:  2.8101,Loss D: -0.0413
Epoch 220, Loss G:  3.0069,Loss D: -0.0339
Epoch 221, Loss G:  2.5894,Loss D: -0.0429
Epoch 222, Loss G:  2.5802,Loss D: -0.0457
Epoch 223, Loss G:  2.8541,Loss D: -0.0583
Epoch 224, Loss G:  3.0932,Loss D: -0.0536
Epoch 225, Loss G:  3.0363,Loss D: -0.0363
Epoch 226, Loss G:  2.8623,Loss D: -0.0448
Epoch 227, Loss G:  2.8738,Loss D: -0.0416
Epoch 228, Loss G:  2.9500,Loss D: -0.0232
Epoch 229, Loss G:  3.0206,Loss D: -0.0132
Epoch 230, Loss G:  2.7083,Loss D: -0.0195
Epoch 231, Loss G:  2.6894,Loss D: -0.0163
Epoch 232, Loss G:  3.0369,Loss D:  0.0377
Epoch 233, Loss G:  2.9327,Loss D:  0.0139
Epoch 234, Loss G:  2.8520,Loss D: -0.0139
Epoch 235, Loss G:  2.7724,Loss D: -0.0430
Epoch 236, Loss G:  2.8170,Loss D: -0.0335
Epoch 237, Loss G:  2.8378,Loss D: -0.0378
Epoch 238, Loss G:  2.7585,Loss D: -0.0356
Epoch 239, Loss G:  2.6521,Loss D: -0.0258
Epoch 240, Loss G:  2.7091,Loss D: -0.0215
Epoch 241, Loss G:  2.7850,Loss D: -0.0437
Epoch 242, Loss G:  2.6139,Loss D: -0.0404
Epoch 243, Loss G:  2.6523,Loss D: -0.0140
Epoch 244, Loss G:  2.5886,Loss D:  0.0262
Epoch 245, Loss G:  2.7970,Loss D:  0.0057
Epoch 246, Loss G:  2.8867,Loss D: -0.0052
Epoch 247, Loss G:  2.7382,Loss D:  0.0289
Epoch 248, Loss G:  2.6183,Loss D: -0.0001
Epoch 249, Loss G:  2.6743,Loss D:  0.0032
Epoch 250, Loss G:  2.9278,Loss D: -0.0152
Epoch 251, Loss G:  2.6847,Loss D:  0.0064
Epoch 252, Loss G:  2.6773,Loss D: -0.0015
Epoch 253, Loss G:  2.9889,Loss D:  0.0062
Epoch 254, Loss G:  3.0500,Loss D: -0.0116
Epoch 255, Loss G:  2.8167,Loss D: -0.0217
Epoch 256, Loss G:  2.7043,Loss D: -0.0034
Epoch 257, Loss G:  2.8189,Loss D: -0.0144
Epoch 258, Loss G:  2.7012,Loss D: -0.0306
Epoch 259, Loss G:  2.6974,Loss D:  0.0178
Epoch 260, Loss G:  2.5279,Loss D:  0.0153
Epoch 261, Loss G:  2.7989,Loss D: -0.0036
Epoch 262, Loss G:  2.8376,Loss D:  0.0083
Epoch 263, Loss G:  2.8113,Loss D: -0.0042
Epoch 264, Loss G:  2.7834,Loss D: -0.0481
Epoch 265, Loss G:  2.8049,Loss D: -0.0239
Epoch 266, Loss G:  2.5604,Loss D: -0.0399
Epoch 267, Loss G:  2.8409,Loss D: -0.0751
Epoch 268, Loss G:  2.7357,Loss D: -0.0634
Epoch 269, Loss G:  2.7320,Loss D: -0.0495
Epoch 270, Loss G:  2.5886,Loss D: -0.0279
Epoch 271, Loss G:  2.7486,Loss D: -0.0495
Epoch 272, Loss G:  2.8411,Loss D: -0.0451
Epoch 273, Loss G:  2.7198,Loss D: -0.0730
Epoch 274, Loss G:  2.8631,Loss D: -0.0411
Epoch 275, Loss G:  2.7018,Loss D: -0.0226
Epoch 276, Loss G:  2.7008,Loss D: -0.0271
Epoch 277, Loss G:  2.9773,Loss D:  0.0060
Epoch 278, Loss G:  2.6494,Loss D: -0.0007
Epoch 279, Loss G:  3.0231,Loss D:  0.0286
Epoch 280, Loss G:  2.5557,Loss D: -0.0099
Epoch 281, Loss G:  2.7948,Loss D:  0.0061
Epoch 282, Loss G:  2.6216,Loss D: -0.0042
Epoch 283, Loss G:  2.7387,Loss D:  0.0176
Epoch 284, Loss G:  2.9726,Loss D:  0.0141
Epoch 285, Loss G:  2.9365,Loss D:  0.0128
Epoch 286, Loss G:  2.7388,Loss D:  0.0033
Epoch 287, Loss G:  2.9109,Loss D: -0.0445
Epoch 288, Loss G:  2.8667,Loss D: -0.0242
Epoch 289, Loss G:  2.6386,Loss D: -0.0489
Epoch 290, Loss G:  2.5019,Loss D: -0.0600
Epoch 291, Loss G:  2.7627,Loss D: -0.0422
Epoch 292, Loss G:  2.7264,Loss D: -0.0566
Epoch 293, Loss G:  2.6630,Loss D: -0.0418
Epoch 294, Loss G:  2.5943,Loss D: -0.0362
Epoch 295, Loss G:  2.9152,Loss D: -0.0000
Epoch 296, Loss G:  2.6384,Loss D: -0.0235
Epoch 297, Loss G:  2.8110,Loss D: -0.0316
Epoch 298, Loss G:  2.6519,Loss D: -0.0108
Epoch 299, Loss G:  2.7019,Loss D: -0.0437
Epoch 300, Loss G:  2.6533,Loss D: -0.0157

In [21]:
filtered.shape

(500, 4)

In [22]:
synthetic_data = synthesizer.sample(
    num_rows=500
)

In [23]:
from sdmetrics.single_column import KSComplement
from sdmetrics.reports import utils
from sdmetrics.single_column import StatisticSimilarity
from sdmetrics.reports.single_table import QualityReport
from sdmetrics.single_table import GMLogLikelihood
from sdmetrics.timeseries import LSTMDetection

In [24]:
filtered.columns

Index(['has_rewards', 'room_type', 'amenities_fee', 'room_rate'], dtype='object')

In [29]:
KSComplement.compute(real_data=filtered["has_rewards"], synthetic_data=synthetic_data[["has_rewards"]])

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [28]:
filtered = filtered.fillna(filtered.mean())
filtered

/tmp/ipykernel_1810907/100812235.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  filtered = filtered.fillna(filtered.mean())

     has_rewards room_type  amenities_fee  room_rate
0          False     BASIC      37.890000     131.23
1          False     BASIC      24.370000     114.43
2           True    DELUXE       0.000000     368.33
3          False     BASIC      18.176066     115.61
4          False     BASIC      16.450000     122.41
..           ...       ...            ...        ...
495        False     BASIC       8.710000     103.25
496        False     BASIC      16.310000     115.81
497        False     BASIC      30.590000     141.61
498        False     BASIC       1.930000     136.92
499        False     BASIC       3.840000     143.52

[500 rows x 4 columns]

In [27]:
synthetic_data

     has_rewards room_type  amenities_fee   room_rate
0          False     BASIC      25.567481  222.046320
1          False    DELUXE      15.446154  111.665848
2          False     BASIC      24.102764  124.772915
3          False     BASIC      15.239827  186.460620
4          False     BASIC      22.359954  116.947321
..           ...       ...            ...         ...
495        False     BASIC      29.770210  155.938666
496        False    DELUXE       9.933602  199.682110
497        False     BASIC      18.378769  160.358022
498        False     BASIC      27.087690  204.224946
499        False     BASIC      39.592605  198.533535

[500 rows x 4 columns]

In [36]:
metadata = {
    "columns": {
        "has_rewards": {
            "sdtype": "boolean"
        },
        "room_type": {
            "sdtype": "categorical"
        },
        "amenities_fee": {
            "sdtype": "numerical"
        },
        "room_rate": {
            "sdtype": "numerical"
        }
    }
}

In [31]:
from sdv.evaluation.single_table import evaluate_quality

quality_report = evaluate_quality(
    filtered,
    synthetic_data,
    metadata
)

Creating report: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00, 131.10it/s]

Overall Quality Score: 79.07%

Properties:
Column Shapes: 84.53%
Column Pair Trends: 73.62%

In [32]:
report = QualityReport()

In [37]:
report.generate(filtered, synthetic_data, metadata)

Creating report: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00, 69.66it/s]

Overall Quality Score: 79.07%

Properties:
Column Shapes: 84.53%
Column Pair Trends: 73.62%

In [38]:
report.get_score()

0.790749998868555

In [39]:
report.get_properties()

             Property     Score
0       Column Shapes  0.845345
1  Column Pair Trends  0.736155

In [40]:
report.get_details(property_name='Column Shapes')

          Column        Metric  Quality Score
0  amenities_fee  KSComplement       0.625381
1      room_rate  KSComplement       0.866000
2    has_rewards  TVComplement       0.978000
3      room_type  TVComplement       0.912000

In [43]:
filtered

     has_rewards room_type  amenities_fee  room_rate
0          False     BASIC      37.890000     131.23
1          False     BASIC      24.370000     114.43
2           True    DELUXE       0.000000     368.33
3          False     BASIC      18.176066     115.61
4          False     BASIC      16.450000     122.41
..           ...       ...            ...        ...
495        False     BASIC       8.710000     103.25
496        False     BASIC      16.310000     115.81
497        False     BASIC      30.590000     141.61
498        False     BASIC       1.930000     136.92
499        False     BASIC       3.840000     143.52

[500 rows x 4 columns]